[Desktop Entry]
Encoding=UTF-8
Exec=ktuberling %i %m -caption "%c"
Name=Potato Guy
Name[af]=Aartappel Man
Name[az]=Kartof Adam
Name[bg]=Картофено момче
Name[br]=Paotr ar patatez
Name[cs]=Bramborový chlapík
Name[da]=Kartoffelfyren
Name[de]=Kartoffelknülch
Name[eo]=Terpomulo
Name[es]=Papá Patata
Name[et]=Kartulimees
Name[eu]=Patata
Name[fi]=Perunamies
Name[fo]=Eplamaður
Name[fr]=KTuberling
Name[he]=מר תפוח אדמה
Name[hu]=Krumpli úr
Name[is]=Kartöflukall
Name[it]=Uomo patata
Name[ja]=福笑い
Name[ko]=감자돌이
Name[lv]=Kartupeļu Vīrs
Name[mk]=Компирко
Name[nb]=Potetmannen
Name[nl]=Aardappelmannetje
Name[nn]=Potetfyren
Name[pl]=Ziemniaczany facet
Name[pt]=Homem Batata
Name[pt_BR]=Homem-Batata
Name[ro]=Domnul Cartof
Name[ru]=Картофельный парень
Name[sk]=Zemiakový chlapec
Name[sl]=Krompirček
Name[sv]=Potatismannen
Name[th]=นายมันฝรั่ง - K
Name[tr]=Patates Adam
Name[uk]=Картопляний хлопець
Name[ven]=Munna wa dabula
Name[wa]=Monsieu Crompire
Name[xh]=Umfana wetapile 
Name[zh_CN]=土豆小子
Name[zh_TW]=土豆小子
Name[zu]=I-Potato Guy
GenericName=Game for Children
GenericName[af]=Speletjie vir Kinders
GenericName[bg]=Игри за Деца
GenericName[bs]=Igra za djecu
GenericName[ca]=Joc per a la canalla
GenericName[cs]=Hra pro děti
GenericName[da]=Spil for børn
GenericName[de]=Spiel für Kinder
GenericName[el]=Παιχνίδι για παιδιά
GenericName[eo]=Infanludo
GenericName[es]=Juego para niños
GenericName[et]=Lastemäng
GenericName[eu]=Umeendako Jokoa
GenericName[fi]=Peli lapsille
GenericName[fo]=Barnaspæl
GenericName[fr]=Jeu pour les enfants
GenericName[he]=משחק לילדים
GenericName[hr]=Igra za djecu
GenericName[hu]=játék gyerekeknek
GenericName[is]=Leikur fyrir börn
GenericName[it]=Gioco per i bambini
GenericName[ja]=子供用ゲーム
GenericName[lv]=Spēle Bērniem
GenericName[nb]=Barnespill
GenericName[nl]=spel voor kinderen
GenericName[nn]=Barnespel
GenericName[nso]=Papadi ya Bana
GenericName[pl]=Gra dla dzieci
GenericName[pt]=Jogo para Crianças
GenericName[pt_BR]=Para Crianças
GenericName[ro]=Joc pentru copii
GenericName[ru]=Игра для детей
GenericName[sk]=Hra pre deti
GenericName[sl]=Igra za otroke
GenericName[sv]=Spel för barn
GenericName[th]=เกมสำหรับเด็ก
GenericName[tr]=Çocuklar için bir oyun
GenericName[uk]=Гра для дітей
GenericName[ven]=Mutambo wa Vhana
GenericName[vi]=Game cho trẻ em
GenericName[wa]=Djeu po ls efants
GenericName[xh]=Umdlalo wabantwana
GenericName[zh_CN]=电子邮件
GenericName[zh_TW]=小孩專屬遊戲
GenericName[zu]=Umdlalo wabantwana
Type=Application
DocPath=ktuberling/index.html
Terminal=0
Icon=ktuberling
MimeType=application/x-tuberling
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
