[Desktop Entry]
Encoding=UTF-8
Exec=ktuberling %i %m -caption "%c"
Name=Potato Guy
Name[af]=aartappel man
Name[ar]=رجل البطاطا
Name[az]=Kartof Adam
Name[bg]=Картофено момче
Name[br]=Paotr ar patatez
Name[cs]=Bramborový chlapík
Name[da]=Kartoffelfyren
Name[de]=Kartoffelknülch
Name[eo]=Terpomulo
Name[es]=El tipo de la patata
Name[et]=Kartulimees
Name[eu]=Patata
Name[fi]=Perunamies
Name[fr]=kTuberling
Name[he]=מר תפוח אדמה
Name[hu]=Krumpli úr
Name[is]=Kartöflukall
Name[ja]=福笑い
Name[ko]=감자돌이
Name[lt]=Bulvinis Vyrukas
Name[lv]=Kartupeļu Vīrs
Name[mi]=Tane Rïwae
Name[mk]=Компирко
Name[nb]=Potetmannen
Name[nl]=Aardappelmannetje
Name[nn]=Potetfyren
Name[pl]=Ziemniaczany Facet
Name[pt]=Homem Batata
Name[pt_BR]=Homem-Batata
Name[ru]=Увалень
Name[sk]=Zemiakový chlapec
Name[sl]=Krompirček
Name[sv]=Potatismannen
Name[ta]=¯Õ¨Ç ¬û
Name[tr]=Patates Adam
Name[xh]=Umfo wetapile
Name[xx]=xx
Name[zh_CN]=土豆小子
Name[zh_TW]=Potato 土豆小子
Name[zu]=Umfo Wamazambane
Comment=Game for Children
Comment[ar]=ألعاب للأطفال
Comment[da]=Spil for børn
Comment[de]=Spiel für Kinder
Comment[es]=Juego para niños
Comment[fi]=Peli lapsille
Comment[fr]=Un jeu pour les enfants
Comment[he]=משחק לילדים
Comment[hu]=Öltöztetős játék gyerekeknek
Comment[lt]=Žaidimas vaikams
Comment[lv]=Spēle Bērniem
Comment[nn]=Barnespel
Comment[pt]=Jogo para Crianças
Comment[pt_BR]=Jogo para Crianças
Comment[sk]=Hra pre deti
Comment[sv]=Spel för barn
Comment[xx]=xx
Type=Application
DocPath=ktuberling/index.html
Terminal=0
Icon=ktuberling
MimeType=application/x-tuberling
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
