[Desktop Entry]
Exec=ktuberling %i %m -caption "%c" %u
Name=Potato Guy
Name[af]=Aartappel Man
Name[ar]=لعبة رجل البطاطا
Name[az]=Kartof Adam
Name[be]=Бульбяш
Name[bn]=পটেটো গাই
Name[br]=Paotr ar patatez
Name[cs]=Bramborový chlapík
Name[da]=Kartoffelfyren
Name[de]=Kartoffelknülch
Name[eo]=Terpomulo
Name[es]=Papá Patata
Name[et]=Kartulimees
Name[eu]=Patata jauna
Name[fi]=Perunamies
Name[fo]=Eplamaður
Name[fr]=Monsieur patate
Name[gl]=O Nacho Pataca 
Name[he]=מר תפוח אדמה
Name[hi]=पोटैटो गाइ
Name[hr]=Krumpirko
Name[hu]=Krumpli bácsi
Name[is]=Kartöflukall
Name[it]=Uomo patata
Name[ja]=福笑い
Name[km]=មនុស្ស​ដំឡូង
Name[lt]=Bulvinis Vyrukas
Name[lv]=Kartupeļu vīrs
Name[mk]=Компирко
Name[nb]=Potetmannen
Name[nds]=Kantüffelfips
Name[ne]=पोटेटो गाई
Name[nl]=Aardappelmannetje
Name[nn]=Potetfyren
Name[pa]=ਆਲੂ ਮੁੰਡਾ
Name[pl]=Ziemniaczany facet
Name[pt]=Homem Batata
Name[pt_BR]=Homem-Batata
Name[ro]=Domnul Cartof
Name[se]=Buđetolmmái
Name[sk]=Zemiakový chlapec
Name[sl]=Krompirček
Name[sv]=Potatismannen
Name[ta]=உருளைகிழங்கு வீரர்
Name[tg]=Писараки Картошкагин
Name[th]=นายมันฝรั่ง - K
Name[tr]=Patates Adam
Name[uk]=Картопляний хлопець
Name[ven]=Munna wa dabula
Name[wa]=Monsieu Crompire
Name[xh]=Umfana wetapile 
Name[zh_CN]=土豆小子
Name[zh_TW]=馬鈴薯小子
Name[zu]=I-Potato Guy
GenericName=Game for Children
GenericName[af]=Speletjie vir Kinders
GenericName[ar]=لعبة للأطفال
GenericName[be]=Гульня для дзяцей
GenericName[bg]=Игра за деца
GenericName[bn]=পোলাপানের খেলা
GenericName[bs]=Igra za djecu
GenericName[ca]=Joc per a la canalla
GenericName[cs]=Hra pro děti
GenericName[cy]=Gêm i Blant
GenericName[da]=Spil for børn
GenericName[de]=Spiel für Kinder
GenericName[el]=Παιχνίδι για παιδιά
GenericName[eo]=Infanludo
GenericName[es]=Juego para niños
GenericName[et]=Lastemäng
GenericName[eu]=Umeentzako jokoa
GenericName[fa]=بازی برای بچه‌‌‌ها
GenericName[fi]=Peli lapsille
GenericName[fo]=Barnaspæl
GenericName[fr]=Jeu pour les enfants
GenericName[ga]=Cluiche do phaistí
GenericName[gl]=Xogo para Nenos
GenericName[he]=משחק לילדים
GenericName[hi]=बच्चों के लिए खेल
GenericName[hr]=Igra za djecu
GenericName[hu]=Gyermekjáték
GenericName[is]=Leikur fyrir börn
GenericName[it]=Gioco per i bambini
GenericName[ja]=子供用ゲーム
GenericName[km]=ល្បែង​សម្រាប់​ក្មេង
GenericName[ko]=어린이를 위한 그림 게임
GenericName[lt]=Žaidimas vaikams
GenericName[lv]=Spēle bērniem
GenericName[mk]=Игра за деца
GenericName[nb]=Barnespill
GenericName[nds]=Speel för Kinners
GenericName[ne]=केटाकेटिका लागि खेल
GenericName[nl]=Spel voor kinderen
GenericName[nn]=Barnespel
GenericName[pa]=ਜਵਾਕਾਂ ਲਈ ਖੇਡ
GenericName[pl]=Gra dla dzieci
GenericName[pt]=Jogo para Crianças
GenericName[pt_BR]=Jogo para Crianças
GenericName[ro]=Joc pentru copii
GenericName[ru]=Клубень
GenericName[se]=Mánáidspeallu
GenericName[sk]=Hra pre deti
GenericName[sl]=Igra za otroke
GenericName[sr]=Игра за децу
GenericName[sr@Latn]=Igra za decu
GenericName[sv]=Spel för barn
GenericName[ta]=குழந்தைகளுக்கான விளையாட்டு
GenericName[tg]=Бозӣ барои бачаҳо
GenericName[th]=เกมสำหรับเด็ก
GenericName[tr]=Çocuklar için bir oyun
GenericName[uk]=Гра для дітей
GenericName[ven]=Mutambo wa Vhana
GenericName[vi]=Game cho trẻ em
GenericName[wa]=Djeu po ls efants
GenericName[xh]=Umdlalo wabantwana
GenericName[zh_CN]=孩子们的游戏
GenericName[zh_TW]=小孩專屬遊戲
GenericName[zu]=Umdlalo wabantwana
Type=Application
DocPath=ktuberling/index.html
Terminal=false
Icon=ktuberling
MimeType=application/x-tuberling;
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;X-KDE-KidsGame;
