[Desktop Entry]
Exec=ktuberling -qwindowtitle %c %u
Name=Potato Guy
GenericName=Picture Game for Children
Type=Application
X-DocPath=ktuberling/index.html
Terminal=false
Icon=ktuberling
MimeType=application/x-tuberling;
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;KidsGame;
X-DBUS-ServiceName=org.kde.ktuberling
