# KDE Config File
[Desktop Entry]
MimeType=application/x-tuberling
Comment=Potato
Comment[ar]=بطاطا
Comment[be]=Клубень
Comment[bg]=Картоф
Comment[bn]=আলু
Comment[br]=Patatez
Comment[bs]=Krompir
Comment[cs]=Brambora
Comment[da]=Kartoffel
Comment[de]=Kartoffel
Comment[el]=Πατάτα
Comment[eo]=Terpomo
Comment[es]=Papá Patata
Comment[et]=Kartulimees
Comment[eu]=Patata
Comment[fa]=سیب‌زمینی
Comment[fi]=Peruna
Comment[fr]=Patate
Comment[ga]=Práta
Comment[gl]=Pataca
Comment[he]=תפוח אדמה
Comment[hi]=पोटैटो
Comment[hr]=Krumpirko
Comment[hu]=Krumpli
Comment[is]=Kartafla
Comment[it]=Patata
Comment[ja]=ポテト
Comment[km]=ដំឡូង
Comment[lt]=Bulvė
Comment[lv]=Kartupelis
Comment[mk]=Компир
Comment[nb]=Potet
Comment[nds]=Kantüffel
Comment[ne]=पोटेटो
Comment[nl]=Aardappel
Comment[nn]=Potet
Comment[pa]=ਆਲੂ
Comment[pl]=Ziemniak
Comment[pt]=Batata
Comment[pt_BR]=Batata
Comment[se]=Buđet
Comment[sk]=Zemiak
Comment[sl]=Krompirček
Comment[sv]=Potatis
Comment[ta]=உருளைகிழங்கு 
Comment[tg]=Картошка
Comment[tr]=Patates
Comment[uk]=Картопля
Comment[wa]=Crompire
Comment[zh_CN]=土豆
Comment[zh_TW]=馬鈴薯
Icon=ktuberling
Type=MimeType
Patterns=*.tuberling;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.tuberling
