[KTuberlingTheme]
Name=Butterflies
Name[ca]=Papallones
Name[ca@valencia]=Papallones
Name[da]=Sommerfugle
Name[de]=Schmetterlinge
Name[en_GB]=Butterflies
Name[es]=Mariposas
Name[et]=Liblikad
Name[fr]=Papillons
Name[hu]=Lepke
Name[is]=Fiðrildi
Name[lt]=Drugeliai
Name[nds]=Botterlickers
Name[nl]=Vlinders
Name[pt]=Borboletas
Name[pt_BR]=Borboletas
Name[sr]=Лептирићи
Name[sr@ijekavian]=Лептирићи
Name[sr@ijekavianlatin]=Leptirići
Name[sr@latin]=Leptirići
Name[sv]=Fjärilar
Name[tr]=Kelebekler
Name[uk]=Метелики
Name[x-test]=xxButterfliesxx
Name[zh_TW]=蝴蝶

