[KTuberlingTheme]
Name=Butterflies
Name[ca]=Papallones
Name[de]=Schmetterlinge
Name[en_GB]=Butterflies
Name[es]=Mariposas
Name[et]=Liblikad
Name[hu]=Lepke
Name[nds]=Botterlickers
Name[nl]=Vlinders
Name[pt]=Borboletas
Name[pt_BR]=Borboletas
Name[sv]=Fjärilar
Name[uk]=Метелики
Name[x-test]=xxButterfliesxx

