[KTuberlingTheme]
Name=Christmas
Name[ast]=Nadal
Name[bs]=Božić
Name[ca]=Nadal
Name[ca@valencia]=Nadal
Name[cs]=Vánoce
Name[da]=Jul
Name[de]=Weihnachten
Name[el]=Χριστούγεννα
Name[en_GB]=Christmas
Name[es]=Navidad
Name[et]=Jõulud
Name[eu]=Gabonak
Name[fa]=کریسمس
Name[fi]=Joulu
Name[fr]=Noël
Name[ga]=Nollaig
Name[gl]=Nadal
Name[hne]=क्रिसमस
Name[hu]=Karácsony
Name[is]=Jól
Name[it]=Natale
Name[ja]=クリスマス
Name[kk]=Милад
Name[km]=បុណ្យណូអែល
Name[ko]=크리스마스
Name[lt]=Kalėdos
Name[lv]=Ziemassvētki
Name[mr]=क्रिसमस
Name[nb]=Jul
Name[nds]=Wiehnachten
Name[nl]=Christmas
Name[nn]=Jul
Name[pl]=Święta
Name[pt]=Natal
Name[pt_BR]=Natal
Name[ro]=Crăciunul
Name[ru]=Рождество
Name[sk]=Vianoce
Name[sl]=Božič
Name[sr]=Божић
Name[sr@ijekavian]=Божић
Name[sr@ijekavianlatin]=Božić
Name[sr@latin]=Božić
Name[sv]=Jul
Name[te]=క్రిస్మస్
Name[tr]=Yılbaşı
Name[ug]=روژدېستۋو
Name[uk]=Різдво
Name[wa]=Noyé
Name[x-test]=xxChristmasxx
Name[zh_CN]=圣诞
Name[zh_TW]=聖誕節
