[KTuberlingTheme]
Name=Christmas
Name[el]=Χριστούγεννα
Name[es]=Navidad
Name[fa]=کریسمس
Name[fi]=Joulu
Name[ga]=Nollaig
Name[ja]=クリスマス
Name[km]=បុណ្យណូអែល
Name[pt]=Natal
Name[pt_BR]=Natal
Name[sv]=Jul
Name[te]=క్రిస్మస్
Name[uk]=Різдво
Name[x-test]=xxChristmasxx
Name[zh_CN]=圣诞
Name[zh_TW]=聖誕節
