[KTuberlingTheme]
Name=Christmas
Name[ca]=Nadal
Name[cs]=Vánoce
Name[da]=Jul
Name[de]=Weihnachten
Name[el]=Χριστούγεννα
Name[es]=Navidad
Name[et]=Jõulud
Name[fa]=کریسمس
Name[fi]=Joulu
Name[fr]=Noël
Name[ga]=Nollaig
Name[gl]=Nadal
Name[hne]=क्रिसमस
Name[it]=Natale
Name[ja]=クリスマス
Name[km]=បុណ្យណូអែល
Name[lt]=Kalėdos
Name[lv]=Ziemassvētku
Name[nds]=Wiehnachten
Name[nn]=Jul
Name[pl]=Święta
Name[pt]=Natal
Name[pt_BR]=Natal
Name[ro]=Crăciunul
Name[ru]=Рождество
Name[sl]=Božič
Name[sv]=Jul
Name[te]=క్రిస్మస్
Name[tr]=Yılbaşı
Name[uk]=Різдво
Name[x-test]=xxChristmasxx
Name[zh_CN]=圣诞
Name[zh_TW]=聖誕節
