[KTuberlingTheme]
Name=Potato Guy
Name[af]=Aartappel Man
Name[ast]=Pá Pataca
Name[be]=Бульбяш
Name[bn]=পটেটো গাই
Name[br]=Paotr ar patatez
Name[bs]=Krompirko
Name[ca]=Home Patata
Name[ca@valencia]=Home Patata
Name[cs]=Bramborový chlapík
Name[cy]=Potato Guy
Name[da]=Kartoffelfyren
Name[de]=Kartoffelknülch
Name[el]=Πατατάνθρωπος
Name[en_GB]=Potato Guy
Name[eo]=Terpomulo
Name[es]=Señor Patata
Name[et]=Kartulimees
Name[eu]=Patata jauna
Name[fa]=مرد سیب زمینی
Name[fi]=Perunamies
Name[fr]=Monsieur Patate
Name[ga]=Potato Guy
Name[gl]=O home pataca
Name[he]=מר תפוח אדמה
Name[hne]=आलू परसाद
Name[hr]=Krumpirko
Name[hu]=Krumpli bácsi
Name[is]=Kartöflukall
Name[it]=Uomo patata
Name[ja]=ポテトマン
Name[kk]=Картопбай
Name[km]=មនុស្ស​ដំឡូង
Name[ko]=감자돌이
Name[lt]=Bulvinis Vyrukas
Name[lv]=Kartupeļu vīrs
Name[mk]=Компирко
Name[mr]=बटाटा व्यक्ति
Name[nb]=Potetfyren
Name[nds]=Kantüffelfips
Name[ne]=पोट्याटो गाइ
Name[nl]=Aardappelmannetje
Name[nn]=Potetfyren
Name[pa]=ਆਲੂ ਮੁੰਡਾ
Name[pl]=Ziemniaczany facet
Name[pt]=Homem Batata
Name[pt_BR]=Homem-Batata
Name[ro]=Domnul Cartof
Name[ru]=Картофельный парень
Name[se]=Buđetolmmái
Name[sk]=Zemiakový chlapec
Name[sl]=Krompirček
Name[sr]=Кромпирко
Name[sr@ijekavian]=Кромпирко
Name[sr@ijekavianlatin]=Krompirko
Name[sr@latin]=Krompirko
Name[sv]=Potatismannen
Name[ta]=உருளைகிழங்கு வீரர்
Name[tg]=Писараки Картошкагин
Name[tr]=Patates Adam
Name[ug]=Potato Guy
Name[uk]=Картопляний хлопець
Name[vi]=Potato Guy
Name[wa]=Monsieu Crompire
Name[xh]=Umfana wetapile 
Name[x-test]=xxPotato Guyxx
Name[zh_CN]=土豆小子
Name[zh_TW]=馬鈴薯小子
