[KTuberlingTheme]
Name=Ancient Egypt
Name[el]=Αρχαία Αίγυπτος
Name[fi]=Muinainen Egypti
Name[ga]=An tSean-Éigipt
Name[km]=អេហ្ស៊ីប​បុរាណ
Name[pl]=Starożytny Egipt
Name[pt_BR]=Egito Antigo
Name[zh_TW]=古埃及
