[KTuberlingTheme]
Name=Ancient Egypt
Name[el]=Αρχαία Αίγυπτος
Name[es]=Antiguo Egipto
Name[fa]=مصر باستان
Name[fi]=Muinainen Egypti
Name[ga]=An tSean-Éigipt
Name[ja]=古代エジプト
Name[km]=អេហ្ស៊ីប​បុរាណ
Name[pl]=Starożytny Egipt
Name[pt]=Antigo Egipto
Name[pt_BR]=Egito Antigo
Name[sv]=Forntida Egypten
Name[te]=పురాతన ఈజిప్ట్
Name[uk]=Давній Єгипет
Name[x-test]=xxAncient Egyptxx
Name[zh_CN]=古埃及
Name[zh_TW]=古埃及
