[KTuberlingTheme]
Name=The Moon
Name[ca]=La Lluna
Name[da]=Månen
Name[de]=Der Mond
Name[el]=Η Σελήνη
Name[eo]=La luno
Name[es]=La Luna
Name[et]=Kuu
Name[fa]=ماه
Name[fi]=Kuu
Name[ga]=An Ghealach
Name[it]=La Luna
Name[ja]=月
Name[km]=ព្រះច័ន្ទ
Name[lv]=Mēness
Name[nds]=De Maand
Name[nl]=De maan
Name[nn]=Månen
Name[pl]=Księżyc
Name[pt]=A Lua
Name[pt_BR]=A Lua
Name[sl]=Mesec
Name[sv]=Månen
Name[uk]=Місяць
Name[x-test]=xxThe Moonxx
Name[zh_CN]=月亮
Name[zh_TW]=月亮的臉
