[KTuberlingTheme]
Name=The Moon
Name[ca]=La Lluna
Name[cs]=Měsíc
Name[da]=Månen
Name[de]=Der Mond
Name[el]=Η Σελήνη
Name[eo]=La luno
Name[es]=La Luna
Name[et]=Kuu
Name[eu]=Ilargia
Name[fa]=ماه
Name[fi]=Kuu
Name[ga]=An Ghealach
Name[gl]=A lúa
Name[hne]=चन्दा
Name[hu]=Hold
Name[it]=La Luna
Name[ja]=月
Name[km]=ព្រះច័ន្ទ
Name[lt]=Mėnulis
Name[lv]=Mēness
Name[nds]=De Maand
Name[nl]=De maan
Name[nn]=Månen
Name[pl]=Księżyc
Name[pt]=A Lua
Name[pt_BR]=A Lua
Name[ro]=Luna
Name[ru]=Луна
Name[sl]=Mesec
Name[sr]=Месец
Name[sr@latin]=Mesec
Name[sv]=Månen
Name[te]=చంద్రుడు
Name[tr]=Ay
Name[uk]=Місяць
Name[x-test]=xxThe Moonxx
Name[zh_CN]=月亮
Name[zh_TW]=月亮的臉
