[KTuberlingTheme]
Name=The Moon
Name[ast]=La Lluna
Name[bs]=Mjesec
Name[ca]=La Lluna
Name[ca@valencia]=La Lluna
Name[cs]=Měsíc
Name[da]=Månen
Name[de]=Der Mond
Name[el]=Η Σελήνη
Name[en_GB]=The Moon
Name[eo]=La luno
Name[es]=La luna
Name[et]=Kuu
Name[eu]=Ilargia
Name[fa]=ماه
Name[fi]=Kuu
Name[fr]=La Lune
Name[ga]=An Ghealach
Name[gl]=A lúa
Name[hne]=चन्दा
Name[hu]=Hold
Name[is]=Tunglið
Name[it]=La Luna
Name[ja]=月
Name[kk]=Ай
Name[km]=ព្រះច័ន្ទ
Name[ko]=달나라
Name[lt]=Mėnulis
Name[lv]=Mēness
Name[mr]=चन्द्र
Name[nb]=Månen
Name[nds]=De Maand
Name[nl]=De maan
Name[nn]=Månen
Name[pl]=Księżyc
Name[pt]=A Lua
Name[pt_BR]=A Lua
Name[ro]=Luna
Name[ru]=Луна
Name[sk]=Mesiac
Name[sl]=Luna
Name[sr]=Месец
Name[sr@ijekavian]=Мјесец
Name[sr@ijekavianlatin]=Mjesec
Name[sr@latin]=Mesec
Name[sv]=Månen
Name[te]=చంద్రుడు
Name[tr]=Ay
Name[uk]=Місяць
Name[x-test]=xxThe Moonxx
Name[zh_CN]=月亮
Name[zh_TW]=月亮的臉
