[KTuberlingTheme]
Name=Pizzeria
Name[cs]=Pizzerie
Name[el]=Πιτσαρία
Name[es]=Pizzería
Name[et]=Pitsabaar
Name[fa]=پیتزایی
Name[gl]=Pizzería
Name[hne]=पिजेरिया
Name[ja]=ピザ屋さん
Name[lv]=Picērija
Name[pt]=Pizzaria
Name[pt_BR]=Pizzaria
Name[ru]=Пиццерия
Name[sl]=Picerija
Name[sr]=Пицерија
Name[sr@latin]=Picerija
Name[te]=పిజ్జెరియా
Name[uk]=Піцерія
Name[x-test]=xxPizzeriaxx
Name[zh_CN]=比萨
