[KTuberlingTheme]
Name=Pizzeria
Name[el]=Πιτσαρία
Name[ja]=ピザ屋さん
Name[pt]=Pizzaria
Name[pt_BR]=Pizzaria
Name[uk]=Піцерія
Name[x-test]=xxPizzeriaxx
Name[zh_CN]=比萨
