[KTuberlingTheme]
Name=Potato Guy 2
Name[ast]=Pá Pataca 2
Name[bs]=Krompirko 2
Name[ca]=Home Patata 2
Name[ca@valencia]=Home Patata 2
Name[cs]=Bramborový chlapík 2
Name[da]=Kartoffelfyren 2
Name[de]=Kartoffelknülch 2
Name[el]=Πατατάνθρωπος 2
Name[en_GB]=Potato Guy 2
Name[eo]=Terpomulo 2
Name[es]=Señor Patata 2
Name[et]=Kartulimees 2
Name[eu]=Patata jauna 2
Name[fa]=مرد سیب زمینی ۲
Name[fi]=Toinen perunamies
Name[fr]=Monsieur Patate 2
Name[ga]=Potato Guy 2
Name[gl]=O home pataca 2
Name[hne]=आलू परसाद २
Name[hu]=Krumpli bácsi visszatér
Name[is]=Kartöflukall 2
Name[it]=Uomo patata 2
Name[ja]=ポテトマン 2
Name[kk]=Картопбай 2
Name[km]=មនុស្ស​ដំឡូង ២
Name[ko]=감자돌이 2
Name[lt]=Bulvinis Vyrukas 2
Name[lv]=Kartupeļu vīrs 2
Name[mr]=बटाटा व्यक्ति 2
Name[nb]=Potetfyren 2
Name[nds]=Kantüffelfips 2
Name[nl]=Aardappelmannetje 2
Name[nn]=Potetfyren 2
Name[pl]=Ziemniaczany facet 2
Name[pt]=Homem Batata 2
Name[pt_BR]=Homem-Batata 2
Name[ro]=Domnul Cartof 2
Name[ru]=Картофельный парень 2
Name[sk]=Zemiakový chlapec 2
Name[sl]=Krompirček 2
Name[sr]=Кромпирко 2
Name[sr@ijekavian]=Кромпирко 2
Name[sr@ijekavianlatin]=Krompirko 2
Name[sr@latin]=Krompirko 2
Name[sv]=Potatismannen 2
Name[tr]=Patates Adam 2
Name[uk]=Картопляний хлопець 2
Name[wa]=Monsieu Crompire 2
Name[x-test]=xxPotato Guy 2xx
Name[zh_CN]=土豆小子二代
Name[zh_TW]=馬鈴薯小子 2
