[KTuberlingTheme]
Name=Potato Guy 2
Name[ca]=Home Patata 2
Name[de]=Kartoffelknülch 2
Name[el]=Πατατάνθρωπος 2
Name[eo]=Terpomulo 2
Name[es]=Papá Patata 2
Name[et]=Kartulimees 2
Name[fi]=Toinen perunamies
Name[fr]=Monsieur patate 2
Name[it]=Uomo patata 2
Name[ja]=ポテトマン 2
Name[ko]=감자돌이 2
Name[lv]=Kartupeļu vīrs 2
Name[nds]=Kantüffelfips 2
Name[nl]=Aardappelmannetje 2
Name[pl]=Ziemniaczany facet 2
Name[pt]=Homem Batata 2
Name[pt_BR]=Homem-Batata 2
Name[sl]=Krompirček 2
Name[sv]=Potatismannen 2
Name[uk]=Картопляний хлопець 2
Name[wa]=Monsieu Crompire 2
Name[x-test]=xxPotato Guy 2xx
Name[zh_CN]=土豆小子二代
Name[zh_TW]=馬鈴薯小子 2
