[KTuberlingTheme]
Name=Robin Tux
Name[ast]=Robin Tux
Name[bs]=Robin Tux
Name[ca]=Robin Tux
Name[ca@valencia]=Robin Tux
Name[cs]=Robin Tux
Name[da]=Robin Tux
Name[de]=Robin Pinguin
Name[el]=Tux Ρομπέν
Name[en_GB]=Robin Tux
Name[es]=Robin Tux
Name[et]=Robin Tux
Name[eu]=Robin Tux
Name[fi]=Robin Tux
Name[fr]=Robin Tux
Name[ga]=Robin Tux
Name[gl]=Robin Tux
Name[hu]=Robin Tux
Name[it]=Robin Tux
Name[ja]=ロビン・タックス
Name[kk]=Робин Тукс
Name[km]=Robin Tux
Name[ko]=로빈 턱스
Name[lv]=Robin Tux
Name[mr]=रोबिन टक्स
Name[nb]=Robin Tux
Name[nds]=Robin Tux
Name[nl]=Robin Tux
Name[nn]=Robin Tux
Name[pl]=Robin Tux
Name[pt]=Pinguim Tux
Name[pt_BR]=Robin Tux
Name[ro]=Robin Tux
Name[ru]=Робин Тукс
Name[sk]=Robin Tux
Name[sl]=Robin Tux
Name[sr]=Пингвин Худ
Name[sr@ijekavian]=Пингвин Худ
Name[sr@ijekavianlatin]=Pingvin Hud
Name[sr@latin]=Pingvin Hud
Name[sv]=Robin Tux
Name[tr]=Robin Tux
Name[uk]=Робін Тукс
Name[wa]=Robin Tux
Name[x-test]=xxRobin Tuxxx
Name[zh_CN]=企鹅罗宾
Name[zh_TW]=Robin Tux
