[KTuberlingTheme]
Name=Robot workshop
Name[de]=Roboterfabrik
Name[pt]=Feira de robots
Name[sv]=Robotseminarium
Name[uk]=Ремонтна майстерня
Name[x-test]=xxRobot workshopxx

