[KTuberlingTheme]
Name=Train Valley
Name[el]=Η κοιλάδα του τρένου
Name[es]=Valle del tren
Name[nl]=Treinlandschap
Name[pt]=Vale do Comboio
Name[pt_BR]=Vale do Comboio
Name[sv]=Tågdalen
Name[x-test]=xxTrain Valleyxx
